.container {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: #ff2156;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBox-reg {
  min-width: 480px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.innerBox-reg input {
  padding: 6px 10px;
  width: 300%;
}
.inputcontrol-div {
  font-style: italic;
  font-weight: 500;
  font-size: small;
  float: left;
  display: block;
  width: 150px;
  padding: 2rem;
}

.footer-reg {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-reg .error {
  font-size: 1.5rem;
  color: #ff3300;
  text-align: center;
}

.footer-reg button {
  outline: none;
  border: none;
  background-color: #ff2156;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 16px;
  width: 100%;
  transition: 100ms;
  cursor: pointer;
}

.footer-reg button:disabled {
  background-color: gray !important;
}

.footer-reg p {
  color: #000;
}

.footer-reg p span a {
  font-weight: bold;
  color: #ff2156;
  letter-spacing: 1px;
  font-size: 1.8rem;
  text-decoration: none;
}
