.sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
}
.logo {
  margin-left: 7rem;
  color: #ff2156;
  font-size: 25px;
  font-weight: 600;
}

.item {
  display: flex;
}

.ul {
  display: flex;
  margin: 20px;
  color: white;
}
li {
  margin: 0% 1rem;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: #ff2156;
  font-weight: 500;
}

.sign-button {
  transition-duration: 0.4s;
  width: 100px;
  border-radius: 8px;
  padding: 5px ;
  margin-top: -10rem;
  background-color: white;
  border-color: #ff2156;
 
}

.sign-button:hover{
  background-color:#ff2156;
  color: white;
}