.contact-short {
  max-width: 90vh;
  margin: auto;
  padding: 3rem 10rem;
  background-color: whitesmoke;
  border-radius: 2rem;
  transform: translateY(50%);
}
.contact-short-btn {
  float: right;
  margin-left: -50%;
  margin-top: -4.9em;
}
.button {
  transition-duration: 0.4s;
  width: 100px;
  border-radius: 8px;
  padding: 10px 24px;
}
.button:hover {
  background-color: #ff2156;
  color: white;
}

.footer {
  padding: 10rem 0 2rem 0;
  background-color: #ff2156;
}

.icons {
  color: white;
  font-size: 3rem;
  position: relative;
  cursor: pointer;
}

.footer-bottom--section {
  padding-top: 10rem;
  text-align: center;
}

.center-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 30rem 0rem 10rem;
}
